@charset "UTF-8";
body {
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    line-height: 1.45;
    font-size: calc(5px + .25vw);
    color: #172B4D
}

.center-xy {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.img-fluid {
    width: 100%;
}

.s-welcome {
    width: 100%;
    height: 100vh;
    position: relative;
    background: url(../images/bg_welcome.jpg) no-repeat center center;
    background-size: cover;
}

.s-welcome .title {
    width: 60em;
}

.s-inpage {
    font-size: 1.6em;
    width: 100%;
    height: 100vh;
    position: relative;
    background: #fff url(../images/bg_in.png) no-repeat center top;
    background-size: cover;
}

.s-header {
    padding: 2em
}

.s-header .logo {
    display: block;
    width: 20em;
}

.bl-list {
    max-width: 1280px;
    margin: 0 auto;
    padding-left: 5em;
    padding-right: 5em;
}

.row-list {
    border: 2px solid #172B4D;
    border-radius: 10px;
    padding: 1em 2em;
    display: flex;
    margin-bottom: 1.5em;
    align-items: center;
}

.avatar {
    width: 8em;
    height: 8em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.col-name {
    padding: 0 1.5em;
}

.col-name h4 {
    font-size: 5em;
    font-weight: bold;
    margin: 0 0 0 0;
}

.col-date .date {
    font-size: 2em;
    font-weight: bold;
}

.col-date {
    font-size: 1.2em;
    margin-left: auto;
}